.dark-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 0.5rem 1rem;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 20px;
  font-weight: 100;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  z-index: 9999;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;       
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  line-height: 1.2;
}


.dark-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.toggle-icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s;
}

.toggle-icon:hover {
  transform: scale(1.1);
  background-color: none;
}

